
#click:active{
    
    transform: translateY(5px);
    

}
#click:hover{
    background-color:orange;
}
.btn{
    box-shadow: 3px 3px 3px black;
}
i{
    color: green;
}
#power:active{
    border: none;
    color:red;
    transform: translateY(5px);
}
i:active{
    color:red;
}